<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Yazılım_Mimarisi.Properties.Settings.MimariTasarimConnectionString"
            connectionString="Data Source=DESKTOP-H17AOV5\SQLEXPRESS;Initial Catalog=MimariTasarim;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>